header {
    background-color: blue;
    padding: 20px;
}

body {
    background-color: #121212;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#titulo {
    margin-top: 30px;
    font-size: 20px;
}

#caixa {
    width: 450px;
    margin: 50px auto;
    padding: 40px;
    border: 2px solid white;
    border-radius: 40px;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 3px solid white;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: white;
    padding-left: 0px;
}

#botao {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 14px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botao a{
    color: white;
}

#botao:hover {
    background-color: blue;
}
