body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: blue;
    padding: 20px;
}

header {
    position: relative;
}

#logo{
    height: 50px;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}

#grade {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

#filme {
    width: 180px;
    text-align: center;
    margin: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#filme img {
    width: 100%;
    border-radius: 10px;
}

#filme:hover {
    transform: scale(1.05);
}

a{
color: blue;
}

footer{
    background-color: blue;
    padding: 20px;
    text-align: center;
}
footer a{
    padding-left: 50px;
    color: white;
}

#login {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#login:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
